@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);


$yellow: #f1c40f;
$dark-color: #252525;
* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #ecf0f1;
}

a {
	text-decoration: none;
}

$brandColor: tomato;

.container {
	width: 960px;
	margin: 0 auto;
}

.featured {
	background: #e5dfb5;
	padding: 20px 0px;
}
.nav {
	padding: 20px;
	background: #e74c3c;

	.logo {
		display: inline-block;
		color: #fff;
	}

	nav {
		display: inline-block;
		float: right;
		a {
			color: #fff;
			margin-left: 5px;
		}
	}
}
.head {
	background: url(images/bg-home.jpg) no-repeat top center;
	background-position: 0px -250px;
	width: 100%;
	height: 400px;
	text-align: center;
	text-shadow: 0px 2px 1px solid rgba(0,0,0,0.5);

	.head-quote {
		background: $yellow;
		padding: 30px 0px 5px 0px;
		position: relative;
		color: #fff;
		font-weight: 300;
		text-shadow: 0px 2px 1px solid rgba(0,0,0,0.5);

		&:after {
			content:'';
			width: 20px;
			height: 20px;
			background: $yellow;
			display: block;
			position: absolute;
			-webkit-transform:rotate(45deg);
			-moz-transform:rotate(45deg);
			transform:rotate(45deg);
			left: 50%;
			position: relative;
			top: 10px;
		}

		#msg{
			background: #fff;
			border-radius: 2px;
			padding: 5px;
			color: #000;
		}
	}

	a {
		color: #fff;
		text-decoration: underline;
		font-weight: 300;
	}
}

.bx-viewport {
	margin: 0 auto;
	li {
		.tag {
			padding: 10px;
			color: #000;
			background: #ecf0f1;
			border-radius: 2px;
			box-shadow: 0px 2px 2px rgba(0,0,0,0.5);

			&:hover {
				cursor: pointer;
				opacity: 0.8;
			}
		}
	}
}

.books {
	margin: 30px auto;
	width: 800px;
	display: block;
	.book {
		background: #2c3e50;
		width: 135px;
		height: 200px;
		display: inline-block;
		border-left: 15px solid black;
		border-radius: 3px;
		box-shadow: inset 0px 2px 0px  rgba(255,255,255,0.4);
		padding: 10px;
		position: relative;
  		margin-left: 20px;

  		&:hover {
  			-webkit-transform:rotate(5deg);
  			cursor: pointer;
  		}
  		
  		.title {
  			color: rgba(255,255,255,0.8);
  			text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  			display: block;
  			padding-top: 50px;
		}
	}
}

.books.recomendations {
	margin: -70px auto !important;
	width: 800px;
}

.bar {
	background: $dark-color;
	padding: 20px 0px;
	color: #fff;
}

.bookslist {
	margin: 0px auto;
	width: 800px;
	
	.book {
		background: tomato;
		width: 135px;
		height: 200px;
		display: inline-block;
		border-left: 15px solid black;
		border-radius: 3px;
		box-shadow: inset 0px 2px 0px  rgba(255,255,255,0.4);
		padding: 10px;
		position: relative;
  		margin-left: 20px;

  		&:hover {
  			-webkit-transform:rotate(5deg);
  			cursor: pointer;
  		}
  		
  		.title {
  			color: rgba(255,255,255,0.8);
  			text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  			display: block;
  			padding-top: 50px;
		}
	}
}
