@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);


$yellow: #f1c40f;
$dark-color: #0e2236;

* {
	margin: 0px;
	padding: 0px;
	-webkit-animation: show .4s ease;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #ecf0f1;
}

a {
	text-decoration: none;
}

$brandColor: tomato;

.container {
	width: 960px;
	margin: 0 auto;
}

.featured {
	background: #f5f1d8;
	padding: 20px 0px;
}
.nav {
	padding: 20px;
	background: $dark-color;

	.logo {
		display: inline-block;
		color: #fff;
	}

	nav {
		display: inline-block;
		float: right;
		a {
			color: #fff;
			margin-left: 5px;
		}
	}
}
.head {
	background: url(bg-home.jpg) no-repeat top center;
	background-position: 0px -250px;
	width: 100%;
	height: 450px;
	text-align: center;
	text-shadow: 0px 2px 1px solid rgba(0,0,0,0.5);

	.head-quote {
		background: $yellow;
		padding: 30px 0px 5px 0px;
		position: relative;
		color: #fff;
		font-weight: 300;
		text-shadow: 0px 2px 1px solid rgba(0,0,0,0.5);

		&:after {
			content:'';
			width: 20px;
			height: 20px;
			background: $yellow;
			display: block;
			position: absolute;
			-webkit-transform:rotate(45deg);
			-moz-transform:rotate(45deg);
			transform:rotate(45deg);
			left: 50%;
			position: relative;
			top: 10px;
		}

		#msg{
			background: #fff;
			border-radius: 2px;
			padding: 5px;
			color: #000;
		}
	}

	 .search-link {
		color: #fff;
		text-decoration: underline;
		font-weight: 400;
		position: relative;
		top: 24px;
	}
}

.bx-viewport {
	margin: 0 auto;
	li {
		.tag {
			padding: 10px;
			color: #000;
			background: #ecf0f1;
			border-radius: 2px;
			box-shadow: 0px 2px 2px rgba(0,0,0,0.5);

			&:hover {
				cursor: pointer;
				opacity: 0.8;
			}
		}
	}
}

.books {
	margin: 30px auto;
	width: 800px;
	display: block;
	.book {
		background: $yellow;
		width: 135px;
		height: 200px;
		display: inline-block;
		border-left: 15px solid black;
		border-radius: 3px;
		box-shadow: inset 0px 2px 0px  rgba(255,255,255,0.4);
		padding: 10px;
		position: relative;
  		margin-left: 20px;
  		vertical-align: top;

  		&:hover {
  			-webkit-transform:rotate(5deg);
  			cursor: pointer;
  		}
  		
  		.title {
  			color: rgba(255,255,255,0.8);
  			text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  			display: block;
  			padding-top: 50px;
		}
	}
}

.books.recomendations {
	margin: -50px auto !important;
	width: 800px;

	.more-books {
		.book {
			background: tomato;
		}
	}
}

.bar {
	background: $dark-color;
	padding: 20px 0px;
	color: #fff;
	margin-top: 40px;
}

.head-list {
	padding: 10px;
	background: $yellow;
	position: relative;

	h3 {
		display: inline-block;
	}

	.tags {
		background: #fff;
		padding: 5px;
		margin: 0px 10px;
	}
	
	&:after {
		content:'';
		width: 20px;
		height: 20px;
		background: $yellow;
		display: block;
		position: absolute;
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		transform:rotate(45deg);
		left: 50%;
		position: relative;
		top: 20px;
	}
}


.book-cover {
	width: 150px;
	height: 200px;
	display: inline-block;
}

.booklist {
	width: 885px;
	margin: 0px auto;
	.book-item {
		display: inline-block;
		width: 400px;
		padding: 20px;
		background: #fff;
		vertical-align: top;
		height: 200px;
		margin-top: 10px;
		box-shadow: 0px 2px 1px rgba(0,0,0,0.2);

		.book-info {
			width: 200px;
			display: inline-block;
			vertical-align: top;
			margin-left: 10px;
			.findbutton {
				background: #67b1ac ;
				color: #fff;
				display: block;
				width: 120px;
				padding: 15px 5px;
				border-radius: 5px;
				text-align: center;
			}
		}
	}
}

.bookview {
	background: #fff;
	padding: 10px;
	.book-info {
		display: inline-block;
		vertical-align: top;
	}
}

.libraries {
	background: #67a7a3;
	padding: 20px 10px;

	h3 {
		color: #fff;
		font-weight: 300;
	}

	&:before {
		content: '';
		width: 30px;
		height: 30px;
		display: block;
		background: #67a7a3;	
		-webkit-transform: rotate(45deg);
		position: relative;
		top: -35px;
		left: 25%;
	}
	
	.items {
		display: inline-block;
		.library-item {
			padding: 10px 5px;
			background: #ecf0f1;
			width: 300px;
			display: block;
			margin-top: 10px;
			border-radius: 3px;
			color: $dark-color;
		}
	}

	.library-map {
		display: inline-block;
	}
}

@-webkit-keyframes show {
	from {opacity: 0;}
	to {opacity: 1;}
}