@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);


$yellow: #f39c12;
$dark-color: #252525;

* {
	margin: 0px;
	padding: 0px;
	-webkit-animation: show .4s ease;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #ecf0f1;
}

a {
	text-decoration: none;
}

$brandColor: tomato;

.container {
	width: 960px;
	margin: 0 auto;
}

.featured {
	background: #f5f1d8;
	padding: 20px 0px;

	.sub-title {
		color: #da6c4f;
		position: relative;
		top: -20px;
	}
}

.current {
	opacity: 0.5;
}

.nav {
	padding: 20px;
	background: $dark-color;

	.logo {
		display: inline-block;
		color: #fff;
	}

	.zapopan-logo {
		opacity: 0.2;
		display: inline-block;
		position: absolute;
		top: 20px;
		right: 20px;
	}

	nav {
		display: inline-block;
		float: right;
		a {
			color: #fff;
			margin-left: 10px;
			position: relative;
			top: 40px;
			background: rgba(255,255,255,0.1);
			padding: 10px;
			border-radius: 3px;
		}
	}
}
.head {
	background: url(bg-home.jpg) no-repeat top center;
	background-position: 0px -250px;
	width: 100%;
	height: 450px;
	text-align: center;
	text-shadow: 0px 2px 1px solid rgba(0,0,0,0.5);

	.head-quote {
		background: $yellow;
		padding: 30px 0px 5px 0px;
		position: relative;
		color: #fff;
		font-weight: 300;
		text-shadow: 0px 2px 1px solid rgba(0,0,0,0.5);

		&:after {
			content:'';
			width: 20px;
			height: 20px;
			background: $yellow;
			display: block;
			position: absolute;
			-webkit-transform:rotate(45deg);
			-moz-transform:rotate(45deg);
			transform:rotate(45deg);
			left: 50%;
			position: relative;
			top: 10px;
		}

		#msg{
			background: #fff;
			border-radius: 2px;
			padding: 5px;
			color: #000;
		}
	}

	 .search-link {
		color: #fff;
		text-decoration: underline;
		font-weight: 400;
		position: relative;
		top: 24px;
	}
}

.bx-viewport {
	margin: 0 auto;
	li {
		.tag {
			padding: 20px;
			margin-left: 10px;
			color: #000;
			background: #ecf0f1;
			border-radius: 2px;
			box-shadow: 0px 2px 2px rgba(0,0,0,0.5);

			&:hover {
				cursor: pointer;
				opacity: 0.8;
			}
		}
	}
}

.books {
	margin: 30px auto;
	width: 800px;
	display: block;

	a {
		color: #000;
	}
	.book {
		background: #2a3247;
		width: 135px;
		height: 200px;
		display: inline-block;
		border-left: 15px solid black;
		border-radius: 3px;
		box-shadow: inset 0px 2px 0px  rgba(255,255,255,0.4);
		padding: 10px;
		position: relative;
  		margin-left: 20px;
  		vertical-align: top;

  		&:hover {
  			-webkit-transform:rotate(5deg);
  			cursor: pointer;
  		}
  		
  		.title {
  			color: rgba(255,255,255,0.8);
  			text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  			display: block;
  			padding-top: 50px;
		}
	}
}

.books.recomendations {
	margin: -50px auto !important;
	width: 800px;

	span {
		color: #fff;
	}

	.more-books {
		.book {
			background: #9daebd;
		}
	}
}

.bar {
	background: $dark-color;
	padding: 20px 0px;
	color: #fff;
	margin-top: 40px;
}

.head-list {
	padding: 10px;
	background: $yellow;
	position: relative;

	h3 {
		display: inline-block;
		font-weight: 300;
		font-size: 2em;
		position: relative;
		top: 10px;
		padding-left: 35px;
	}

	.tags {
		background: #fff;
		padding: 5px;
		margin: 0px 10px;
		border-radius: 5px;
	}
	
	&:after {
		content:'';
		width: 20px;
		height: 20px;
		background: $yellow;
		display: block;
		position: absolute;
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		transform:rotate(45deg);
		left: 49%;
		position: relative;
		top: 20px;
	}
}


.book-cover {
	background: #2a3247;
	width: 100px;
	height: 150px;
	display: inline-block;
	border-left: 15px solid black;
	border-radius: 3px;
	box-shadow: inset 0px 2px 0px  rgba(255,255,255,0.4);
	padding: 10px;
	position: relative;
	margin-left: 20px;
	vertical-align: top;
}

.booklist {
	width: 930px;
	margin: 20px auto;
	.book-item {
		display: inline-block;
		width: 400px;
		padding: 20px;
		background: #fff;
		vertical-align: top;
		height: 200px;
		margin: 15px 10px;
		border-radius: 5px;
		box-shadow: 0px 5px 5px rgba(0,0,0,0.1);

		.book-info {
			width: 220px;
			display: inline-block;
			vertical-align: top;
			margin-left: 10px;

			.findbutton {
				background: #67b1ac ;
				color: #fff;
				width: 180px;
				padding: 15px 25px;
				border-radius: 5px;
				text-align: center;

				&:after {
					content: url(arrow.png);
					display: inline-block;
					position: relative;
					top: 7px;
					right: -9px;
				}

				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}

.social {
	display: inline-block;
	float: right;
}

.bookview {
	background: #fff;
	padding: 80px;

	.book-info {
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
		width: 200px;
		color: #252525;
	}

	span {
		display: block;
	}
	.title {
		font-size: 3em;
		font-weight: 700;
	}

	.author {
		font-style: italic;
		font-size: 1.5em;
	}
}

.libraries {
	background: #67a7a3;
	padding: 20px 10px;

	h3 {
		color: #fff;
		font-weight: 300;
		text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
		font-size: 2em;
		padding-left: 40px;
	}

	&:before {
		content: '';
		width: 30px;
		height: 30px;
		display: block;
		background: #67a7a3;	
		-webkit-transform: rotate(45deg);
		position: relative;
		top: -35px;
		left: 25%;
	}
	
	.items {
		display: inline-block;
		vertical-align: top;
		margin-left: 40px;

		.library-item {
			padding: 20px 5px;
			background: #ecf0f1;
			width: 300px;
			display: block;
			margin-top: 10px;
			border-radius: 3px;
			color: $dark-color;

			&:after {
				content:url(books.png);
				float: right;
			}
		}
	}

	.library-map {
		display: inline-block;
		position: relative;
		left: 100px;
		border: 8px solid rgba(0,0,0,0.2);
		border-radius: 3px;
		.library-title {
			vertical-align: top;
		}
	}
}

@-webkit-keyframes show {
	from {opacity: 0;}
	to {opacity: 1;}
}